<div class="page-header" style="background: url(assets/img/banner1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">About Us</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">Home /</a></li>
                        <li class="current">About Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xs-12">
                <div class="about-wrapper">
                    <h2 class="intro-title">Why We Are Unique</h2>
                    <p class="intro-desc">
                        Best Design It is a website specialized in displaying advertisements. Users can view their own ads and browse and buy other ads. It seeks to make the operations of displaying and selling advertisements easier for customers .
                    </p>
                    <a href="/Contacts/Create" class="btn btn-common btn-lg">Contact us</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12">
                <img class="img-fluid" src="~/assets/img/about/about.png" alt="">
            </div>
        </div>
    </div>
</section>