@model List<Product>

<div id="hero-area">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-9 col-xs-12 text-center">
                <div class="contents">
                    <h1 class="head-title">Welcome to The Largest <span class="year">Best Design</span></h1>
                    <p>
                        Buy and sell <b>Best Design</b> You can with the best design
                        Display and sell your designs
                        Buy unique designs
                    </p>
                    <div class="search-bar">
                        <div class="search-inner">

                            <form asp-action="ProductSearch" asp-controller="Home" method="get" class="search-form">
                                <div class="form-group">

                                    <div class="col-sm-10">
                                        <input type="text" name="xname" class="form-control" placeholder="Search" />
                                    </div>
                                
                                    <input type="submit" class="btn btn-common" value="Search Now" />
                                </div>

                            </form>
                          
                        </div>
                    </div>
             <br />
             <br />
             <br />
          
               
                    <a href="/Home/FilterByDate" class="btn btn-common">Filter By Date</a>
                    <a href="/Home/FilterByPrice" class="btn btn-common">Filter By Price</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<section class="featured section-padding">
    <div class="container">
        <h1 class="section-title">Latest Products</h1>
        <div class="row">
            @foreach (var item in Model){
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                <div class="featured-box">
                    <figure>
                       
                        <a href="#"><img class="img-fluid" src="~/Imgs/@item.Image" alt="" style="width:350px;height:300px;"></a>
                    </figure>
                        <div class="feature-content" style="width:350px;">
                     
                            <h4><a href="">@item.Title</a></h4>
                            <div class="row container">
                                <p class="dsc">Designed By : &nbsp; </p>

                                <h4><a href="/Home/GetProductsByUser/@item.UserId">@item.UserId</a></h4>
                            </div>
                
                        <p class="dsc" style="height:20px">@item.Topic</p>  
                        <p class="dsc" style="height:10px">@item.Date</p>
                           
                        <div class="listing-bottom">
                                <h3 class="price float-left">$@item.Price</h3>
                                <a href="/Home/AddProductToCart/@item.Id" class="btn btn-common float-right">Add To Cart</a>
                        </div>
                    </div>
                </div>
                
            </div>
         }
        </div>
    </div>
</section>